.container {
        width: 1000px; 
        margin: 0 auto;
        
    }
    .box {
        position: relative;
        background-color: #12161D;
        border: none;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 35px;
        width: 1090px;
        box-sizing: border-box;
        top: 129px;
        right: 150px;
    }
    .embed-container {
        top: 0px;
        position: relative;
        padding-bottom: 40.25%; 
        height: 0;
        overflow: hidden;
        border-radius: 10px;
    }
    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       border-radius: 10px;
    }
    .content-below-embed {
        margin-top: 20px; 
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
    .overlay {
        display: flex;
        align-items: center;
    }
    .image {
        width: 52px; 
        height: 52px; 
        border-radius: 8px;
        margin-right: 10px;
    }
    .text {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        margin-right: 10px;
    }
    .fullscreen-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-right: 5px;
    }
  
      body {
        cursor: url("https://cdn.glitch.global/5974de2d-be05-4647-b3ac-08c6e71752fc/Removal-791.png?v=1707616156693"),
          auto;
      }



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://cdn.glitch.global/8ccf4cfa-741f-4630-8f29-733b36d972e6/f97cae64-03b4-4b89-94ec-0dacf077ea89.image.png?v=1705798388344') center/cover no-repeat; /* Add your background image */
    color: White;

.snowball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b03232; 
  border-radius: 50%;
  pointer-events: none; 
  z-index: -1; 
  opacity: 0.6; 
  animation: snowdrift 8s infinite alternate; 
}

.transparent {
  opacity: 0.4; 
}

.light {
  background-color: #f5aaaa; 
}

.small {
  width: 5px;
  height: 5px;
}

@keyframes snowdrift {
  0% {
    transform: translate(-4px, -4px);
  }
  100% {
    transform: translate(4px, 4px);
  }
}

  
  