.snowball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b03232; 
  border-radius: 50%;
  pointer-events: none; 
  z-index: -1;
  opacity: 0.6; 
  animation: snowdrift 8s infinite alternate; 
}

.transparent {
  opacity: 0.4; 
}

.light {
  background-color: #f5aaaa; 
}

.small {
  width: 5px;
  height: 5px;
}

@keyframes snowdrift {
  0% {
    transform: translate(-4px, -4px);
  }
  100% {
    transform: translate(4px, 4px);
  }
}

