body {
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#credits-container  {


header {
    background-color: #b03232;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}


section {
    margin-bottom: 35px;
}


button, .btn {
    background-color: #b03232;
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

button:hover, .btn:hover {
    transform: scale(1.1); 
}


a {
    color: #b03232;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}




h1, h2, h3, h4, h5, h6 {
    color: #b03232;
    text-align: center;
    margin-bottom: 15px;
}


input, textarea {
    border: 1px solid #b03232;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}
